* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

li, a, button {
  font-weight: 500;
  font-size: 16px;
  color: #232946;
}

#desktopHeader {
  display: flex;
}

#mobileHeader {
  display: none;
}

#hamburger:hover {
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #e7e7e7;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f441a5;
}

.sidenav #closeButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

nav {
  z-index: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
}

h1.logo::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 90px;
  background: white;
  animation: showLeft 2s ease forwards reverse;
  animation-delay: .4s;
}

.navbar {
  list-style: none;
}

.navbar li {
  display: inline-block;
  padding: 0px 20px;
}

.navbar li a {
  transition: all 0.3s ease 0s;
}

.navbar li a:hover,
.navbar li a.active {
  color: #f441a5;
  font-weight: bold;
}

body {
  font-family: 'Arial', sans-serif;
}

/* custom button css */
button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  width: 8em;
  height: 30px;
  text-align: center;
  background: linear-gradient(90deg,#9b9dd0,#f441a5,#b383c9,#03a9f4);
  background-size: 300%;
  border-radius: 20px;
  z-index: 1;
}

button:hover {
  animation: ani 8s linear infinite;
  border: none;
  cursor: pointer;
}

/* KEYFRAMES ANIMATIONS */
@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

@keyframes showLeft {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

button:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#9b9dd0,#f441a5,#b383c9,#03a9f4);
  background-size: 400%;
  border-radius: 10px;
  transition: 1s;
}

button:hover::before {
  filter: blur(20px);
}

button:active {
  background: linear-gradient(32deg,#9b9dd0,#f441a5,#b383c9,#03a9f4);
}

/* forum */

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 50;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #9b9dd0;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #b383c9);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}


form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #232946;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box, linear-gradient(90deg,#f441a5,#b383c9,#015f8a) border-box;
  padding: 0.6rem 1.2rem;
  color:#333;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 20px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 20px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color:#232946;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.submit-container {
  display: flex;
  flex-direction: row-reverse;
}

.btn {
  padding: 0.6rem 1.3rem;
  font-size: 0.95rem;
  color: #232946;
  line-height: 1;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background: #f441a5;
  color: #232946;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #232946;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background: linear-gradient(45deg, #b383c9, #9b9dd0);
  color: #232946;
  margin-right: 0.5rem;
  transition: 0.3s;
  cursor: pointer;
}

.social-icons a:hover {
  transform: scale(1.10);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #9b9dd0;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #b383c9, #9b9dd0);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

.error {
  color: red;
  font-size: 0.8em;
  display: flex;
  margin-top: 5px;
}

/* footer  */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 100%;
  background: #9b9dd0;
  min-height: 100px;
  padding: 20px 50px;
}

footer .socialIcon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .socialIcon li,
footer .menu li {
  list-style: none;
}

footer .socialIcon li a {
  font-size: 2em;
  color: #232946;
  margin: 0 10px;
  display: inline-block;
}

footer .menu li a {
  font-size: 1.2em;
  color: #232946;
  margin: 0 10px;
  display:inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer p {
  color:#232946;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .wave {
  position:absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./images/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave_02 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 1000;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0%
  {
    background-position-x: 1000px ;
  }
  100%
  {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0%
  {
    background-position-x: 0px ;
  }
  100%
  {
    background-position-x: 0px;
  }
}

@media (max-width: 959px) {
  #desktopHeader {
    display: none;
  }
  #mobileHeader {
    display: flex;
  }
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }

  footer {
    margin-top: 200px;
  }
}