/* nav */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

li, a, button {
  font-weight: 500;
  font-size: 16px;
  color: #131212;
}

nav {
  z-index: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
}

h1.logo::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 90px;
  background: white;
  animation: showLeft 2s ease forwards reverse;
  animation-delay: .4s;
}

.navbar {
  list-style: none;
}

.navbar li {
  display: inline-block;
  padding: 0px 20px;
}

.navbar li a {
  transition: all 0.3s ease 0s;
}

.navbar li a:hover,
.navbar li a.active {
  color: #f441a5;
  font-weight: bold;
}

body {
  font-family: 'Arial', sans-serif;
}

/* custom button css */
button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  width: 8em;
  height: 30px;
  text-align: center;
  background: linear-gradient(90deg,#9b9dd0,#f441a5,#b383c9,#03a9f4);
  background-size: 300%;
  border-radius: 20px;
  z-index: 1;
}

button:hover {
  animation: ani 8s linear infinite;
  border: none;
  cursor: pointer;
}

/* KEYFRAMES ANIMATIONS */
@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

@keyframes showLeft {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

button:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#9b9dd0,#f441a5,#b383c9,#03a9f4);
  background-size: 400%;
  border-radius: 20px;
  transition: 1s;
}

button:hover::before {
  filter: blur(20px);
}

button:active {
  background: linear-gradient(32deg,#9b9dd0,#f441a5,#b383c9,#03a9f4);
}

/* About css */

about {
  width: 100%;
  padding: 100px 0px;
  background-color: #e7e7e7;
}

.about img {
  height: auto;
  width: 430px;
}

.about-text {
  width: 550px;
}

.main {
  width: 1130px;
  height: 90vh;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text h2 {
  color: #131212;
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h2::after {
  content: "";
  height: 4px;
  width: 230px;
  display: block;
  margin: 0;
  background-color: #9b9dd0;
}

.about-text h5 {
  color: #f441a5;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p {
  color: #131212;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

/* Footer css */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 100%;
  background: #9b9dd0;
  min-height: 100px;
  padding: 20px 50px;
}

footer .socialIcon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .socialIcon li,
footer .menu li {
  list-style: none;
}

footer .socialIcon li a {
  font-size: 2em;
  color: #131212;
  margin: 0 10px;
  display: inline-block;
}

footer .menu li a {
  font-size: 1.2em;
  color: #131212;
  margin: 0 10px;
  display:inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1;
}

footer p {
  color:#131212;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer .wave {
  position:absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(/images/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave_02 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 1000;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0%
  {
    background-position-x: 1000px ;
  }
  100%
  {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0%
  {
    background-position-x: 0px ;
  }
  100%
  {
    background-position-x: 0px;
  }
}

@media (max-width: 959px) {
}
